pyjwt
pwdlib[argon2]
fastapi
uvicorn
python-multipart
sqlalchemy
pymysql
netmiko
ntc-templates


# Remove-Item -Recurse -Force env
# py -3.12 -m venv env


# .\env\Scripts\python.exe -m pip install --upgrade pip
# .\env\Scripts\pip.exe install --only-binary :all: cryptography
